# Python virtual environment and cache
.venv/
__pycache__/
*.pyc

# OS files
.DS_Store

# Output directories
_out/
_logs/

# Configuration files (generally user-specific)
# config/org_config.md
config/config_loc.py

# Logs
_logs/*.log